.save_btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.input {
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}