[Unit]
Description=Save Joystick
After=network.target

[Service]
ExecStart=/home/pi/Desktop/save_joystick.py
WorkingDirectory=/home/pi/Desktop
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target